body{
    box-sizing: border-box;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.9;
    color: seashell;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: solid seashell 1px;
}


.logo-container img{
    height: 50px;
    padding-left: 10px;
}

ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

ul li a{
    color: seashell;
}

.header-container{
    background-image: url(./img/img-mission-background.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 1200px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.header-container div{
    background-color: #000;
    width: 100%;
}

/* TEA SECTION */

#tea{
    width: 1000px ;
    margin: 0 auto;
    text-align: center;
}

.img-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    margin: 0 10px;
}

.card img{
    width: 300px;
    height: 200px;
}

.tea-name{
    margin-top: 10px;
}

/* LOCATION SECTION */

#location{
    background-image: url(./img/img-locations-background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 30px;
    height: 500px;
    width: 1200px;
    margin: 0 auto;
}

#location h2{
    margin: 0;
    padding: 0;
}

.location-description{
    margin-top: 15px;
}

.address{
    display: inline-block;
    background-color: #000;
    width: 300px;
    margin: 5px 40px;
}

/* FOOTER SECTION */

.contact{
    text-align: center;
    height: 200px;
    background-color: ;
}

.copyright{
    text-align: left;
    margin-left: 20px;
}